[mysqld]
user = mysql
port = 3306

socket = /var/lib/mysql/mysql.sock
pid-file = /var/run/mysqld/mysqld.pid
default_authentication_plugin = mysql_native_password
default_password_lifetime = 0
datadir = /var/lib/mysql
log-error = /var/log/mysql/mysql.log
binlog_expire_logs_seconds=864000

### utf8mb4
character_set_server = utf8mb4
collation_server = utf8mb4_bin
init_connect = 'SET NAMES utf8mb4'
skip-character-set-client-handshake

skip-name-resolve
default-storage-engine = innodb
explicit_defaults_for_timestamp = true

wait_timeout = 300
max_connections = 100
table_open_cache = 1000
table_definition_cache = 500
open_files_limit = 1400

max_allowed_packet = 16M

slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 2.0
min_examined_row_limit = 1000
log-queries-not-using-indexes

[mysql.server]
default-character-set = utf8mb4

[mysqld_safe]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4

[client]
default-character-set = utf8mb4

[mysqldump]
default-character-set = utf8mb4